session_id: &session_id 1
cb_mem_path: &cb_mem_path './shm/cb.{session_id}.mem'

services:
  ui:
    session_id: *session_id
    membership_module: Membership
    modules:
      # membership module has to be loaded first as other modules use it when generating public access
      - id: Membership
        module_path: "filix/dist/Modules/Membership"
        db_module: AppDB
      - id: AppDB
        module_path: "filix/dist/Modules/GenericDB"
        autofetch: true
        db_config:
          protocol: pg
          user: sysdba
          password: sysdba
          host: postgresdb
          port: 5432
          database: appData
          schema: public
          query:
            pool: true
      - id: Dashboard
        module_path: "filix/dist/Modules/Dashboard"
        db_module: AppDB
        membership_module: Membership
      - id: ServerManager
        module_path: "filix/dist/Modules/ServerManager"
        port: 1177
      - id: WebSocketServer
        module_path: "filix/dist/Modules/WebSocketServer"
        port: 30200
        host: appservice
